:root {
  --primary: #051367;
  --secondary: #2d31fa;
  --tertiary: #5d8bf4;
  --light: #dff6ff;
}

.navbar {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  padding: 1.7rem 2.5rem;
  font-family: 'Courier New', Courier, monospace;
}

.navlink {
  color: #fff;
  text-decoration: none;
}
.brand {
  font-size: 1.4rem;
}
.navlink.btn {
  padding: 1.2rem 3rem;
  background-color: var(--tertiary);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bolder;
  transition: 0.2s ease;
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.navlink.btn:hover {
  background-color: var(--secondary);
}
.navlink.btn > *:not(:last-child) {
  margin-right: 0.3rem;
}
.cart-icon {
  transform: scale(0.8);
  position: relative;
  top: 5px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
